.button{
  /* margin-top: -3.5%; */
 /* margin-left: 30%; */ 

    /* margin: auto;
    width: 10%;
     */
    /* padding: 10px; */
    position: absolute;
left: 40%;
top: 80%;
/* transform: translate(-50%, -50%); */
/* border: 5px solid #FFFF00; */

}